<section id="declaration">
	<span style="float:right;">Jänner 2013</span>
	<h3>Die Brüsseler Datenschutz-Erklärung</h3>
	 
	<p>Datenschutz ist ein Grundrecht, doch es wird oft ignoriert.</p> 
	<p>Wir sind empört.</p>
	 
	Wir sind empört, weil 
	<ul>
		<li>wir, die europäischen Bürger, nun in hunderten Datenbanken gespeichert werden, meist ohne unser Wissen oder unsere Einwilligung.</li>
		<li>mehr als 1200 Firmen sich auf den Handel mit unseren privaten Daten spezialisiert haben, meist ohne unser Wissen oder unsere Einwilligung.</li>
		<li>jedes Mal, wenn wir heute im Web surfen, mehr als 50 Unternehmen jeden Klick beobachten, meist ohne unser Wissen oder unsere Einwilligung.</li>
		<li>wir permanent von Algorithmen kategorisiert und beurteilt werden und dann unserem angenommenen unternehmerischen "Wert" entsprechend behandelt werden.</li>
	</ul>
	 
	<p>Wir rufen die Mitglieder des Europäischen Parlaments und alle Regierungen der Mitgliedstaaten dazu auf, die Datenschutzrechte zu verbessern und durchzusetzen.</p>
	 
	<p>Wir erwarten von der neuen Europäischen Datenschutzverordnung, dass sie folgende Bedingungen erfüllt:</p>

	<ul> 
		<li>Ausdrückliche, starke und informierte Einwilligung für die Verarbeitung unserer persönlichen Daten.</li>
		<li>Das Ende der Verknüpfung eines Dienstangebotes mit der Einwilligung in die Nutzung unserer Daten (Schluss mit 'Friss oder Stirb!').</li>
		<li>Datenverarbeitung und Datenweitergabe müssen transparent gemacht werden.</li>
		<li>Echte Datenportabilität, damit Wettbewerb gefördert und Lock-In-Effekte verringert werden.</li>
		<li>Einen starken Schutz gegen geheimes Profiling von Bürgern, on- wie offline.</li>
		<li>Jeder europäische Bürger hat das Recht auf wirksame Kontrolle über seine oder ihre persönlichen Daten (Datensouveränität).</li>
		<li>Wirksame Schadenersatzmechanismen und Strafen für Firmen und öffentliche Stellen, die das Gesetz nicht respektieren.</li>
		<li>Den Schutz aller persönlicher Information, inklusive von Kennnummern von Hard- und Software.</li>
	</ul>
	<p>Europas Zukunft braucht Datenschutz, und wir brauchen Sie um dieses Grundrecht jetzt zu verteidigen.</p>
</section>

<p><a class="" href="/unterstuetzen">Unterstützten!</a></p>