{% extends "layout.html" %}
{% block title %}Unknown Error{% endblock %}
{% block logourl %}/static/images/dp_cat.png{% endblock %}
{% block body %}

<div id="home">
	<div class="wrp">
		<div class="captext">
			<div id="aufruf" style="margin-top: 40px;">
				{% block error %}<h1>Unknown Error</h1>
				An unknown error occured.
				{% endblock %}
			</div>
			<!--<img style="display:inline-block" src="/static/images/dp_cat.png">-->
		</div>
		<div class="homebg"><img src="/static/images/home.jpg"></div>
	</div>
</div>
{% endblock %}
