{% extends "layout.html" %}
{% block body %}

<div id="unterstuetzen">
			<div class="wrp">
				<div class="average">

<h1 class="pagetitle">Impressum & Credits</h1>

<p class="teaser"></p>



<h3>Offenlegung gem. Mediengesetz §25</h3>

<h3>Verantwortlicher Betreiber</h3>
	<p><a href="https://netzfreiheit.org">Initiative für Netzfreiheit</a></p>
	<p>Verein zur Förderung der Freiheiten des Menschen im Netz und Wahrung der digitalen Bürgerrechte.</p>
	<ul style="list-style-type: none">
		<li>ZVR: 675848645</li>
		<li>Sitz: Wien</li>
		<li>Mitglieder des Vorstandes: Andreas Demmelbauer, Leonhard Preis</li>
		<li>Allgemeiner Kontakt: <a href="mailto:info@netzfreiheit.org?subject=Datenschutzkampagne Anfrage" />info@netzfreiheit.org</a></li>
		<li>Administrativer Kontakt: <a href="mailto:technik@netzfreiheit.org?subject=WWDS" />technik@netzfreiheit.org</a></li>
	</ul>
<h3>Blattlinie</h3>
	<p>Diese Seite hat zum Ziel, für einen starken Datenschutz in Europa einzutreten.</p>



<h3>Verwendete Inhalte</h3>
	Foto auf der Startseite von <a href="http://www.flickr.com/photos/genevievegood/4556209343/in/set-72157623673198897">"Genna G" auf Flickr</a> (editiert) | Lizenz: <a href="http://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>




				</div>
			</div>
</div>
{% endblock %}
