{% extends "layout.html" %}
{% block body %}

<div id="sitename">
	<div class="wrp">
		<div class="average">
		
			<h1 class="pagetitle">Kontakt</h1>
			
			<p class="teaser">Wir beantworten gerne Ihre Fragen zum Thema EU Datenschutz Verordnung.</p>
			
			
			<h2>Ansprechpartner</h2>

			<div class="col2">
				<p><b>Andreas Krisch</b><br />
				<i>Verein für Internet-Benutzer Österreichs</i><br />
				Tel.: +43 1 480 50 25 11<br />
				<a href="mailto:info@vibe.at">info@vibe.at</a><br />
				<a href="https://vibe.at">vibe.at</a></p>
			</div>

			
			<div class="col2">
				<p><b>Josef Irnberger</b><br />
				<i>Initiative für Netzfreiheit</i><br />
				Tel.:  +43 699 1047 8831<br />
				<a href="mailto:info@netzfreiheit.org">info@netzfreiheit.org</a><br />
				<a href="https://netzfreiheit.org">netzfreiheit.org</a></p>
			</div>
			
			<p><a href="/presse">&raquo; Pressefotos &amp; Logos</a></p>
		
		</div>				
	</div>
</div>
 {% endblock %}