{% extends "layout.html" %}
{% block body %}

<div id="unterstuetzen">
			<div class="wrp">
				<div class="average">

<h1 class="pagetitle">Hintergründe und Positionen</h1>				

<p class="teaser">Auf EU-Ebene ist derzeit eine riesige Datenschutzreform in Arbeit, welche auch das österreichische Datenschutzgesetz beeinflussen wird. Die Industrie lobbyiert massiv gegen einen guten Datenschutz und versucht mit dieser Reform unsere Gesetze möglichst abzuschwächen. <br> Wir treten für einen starken Datenschutz ein!</p>

<p><b>Folgende Punkte sind wichtig:</b></p>
<ol>
<li>
<h2>Definition: personenbezogene Daten</h2>
<h3>Um was geht es? (Artikel 4.1 des Kommissionsvorschlags)</h3>
<p> Persönliche Daten sind nicht nur Informationen, mit denen jemand direkt identifiziert werden kann(z.B.Vor - und Nachname) - meistens ist es schon ausreichend, wenn eine Person durch eine Kombination von Informationen oder andere Merkmale hervorgehoben oder „herausgegriffen“ werden kann(singling out).Im Online - Marketing werden beispielsweise TrackingTechniken verwendet, die einer Person eine einzigartige Kennung zuweisen können, um ihr Online - Verhalten zuüberwachen, ein „Profil“ zu erstellen und gezielt Werbung zu verschicken
oder anzuzeigen. </p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p> Definitionen sind der vielleicht wichtigste Punkt in der Verordnung und ein sehr umstrittener Punkt der Reform.Schlecht definierte Begriffe können schnell zu Rechtsunsicherheit und schließlich dazu führen, dass die Reform in der Praxis außer Kraft gesetzt wird und wir gar keinen effektiven Datenschutz mehr haben.Daher müssen wir unbedingt die Definition zu singling out behalten.Es ist anzunehmen, dass dieses Konzept durch Lobbyisten, vor allem aus dem Direktmarketing - Bereich, torpediert wird, da auch IP - Adressen oder Cookies unter personenbezogene Daten fallen können. </p>
</li>
<li>
<h2>Definition: berechtigtes Interesse</h2> 
<h3> Um was geht es ? (Artikel 6.1 f) des Kommissionsvorschlags) </h3>
<p>Einer der sechs Kriterien für eine rechtmäßige Verarbeitung von Daten ist das sogenannte 
„berechtigte Interesse“ der Unternehmen. 
Einige Vertreter der Industrie, vor allem aus dem Direktmarketing-Bereich, wollen, dass 
Unternehmen ein „berechtigtes Interesse“ geltend machen können, um persönliche Daten 
auch ohne ausdrückliche Erlaubnis an Dritte weiterzuverkaufen – von denen sie dann auch 
noch nach Belieben verwendet werden dürften.</p> <h3> Warum ist dieser Punkt wichtig und was fordern wir ? </h3>
<p>Der Bericht des Europäischen Parlaments lässt viel zu viele Ausnahmen zu. Der Begriff des 
„berechtigten Interesses“ wird dadurch zu einer Art Trojaner, der eine exzessive Verarbeitung 
unserer Daten ermöglicht. 
Die Organisation Bits of Freedom konnte vor kurzem in einem Bericht [4] viele Beispiele für 
den Missbrauch dieser Rechtslücke demonstrieren. Wir fordern daher, dass das „berechtigte 
Interesse“ als Kriterium für eine rechtmäßige Datenverarbeitung komplett gestrichen wird.</p>
</li>
<li>
<h2>Einwilligung des Nutzers </h2>
<h3>Um was geht es? (Artikel 7 des Kommissionsvorschlags)</h3> <p> Ein weiteres Kriterium für eine rechtmäßige Verarbeitung von Daten ist die Einwilligung der
Nutzer.Öffentliche oder private Stellen dürfen personenbezogene Daten nur verarbeiten, wenn
vorher eine Einwilligung eingeholt wird.Eine solche Erklärung ist allein dann gültig, wenn sie
freiwillig, für den konkreten Fall und in Kenntnis der Sachlage erteilt wurde.Der Nutzer muss
also vorher umfassendüber die beabsichtigte Nutzung der Daten informiert werden. </p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3> <p> Das Prinzip der Einwilligung ist besonders wichtig, um Personen volle Kontrolleüber ihre persönlichen Daten zu geben.Nutzungsbedingungen mit bereits vorangekreuzten Einwilligungskästchen(implizite Einwilligung) müssen verboten werden.Zudem sollten Nutzer jederzeit
die Möglichkeit haben, die Einwilligung zur Datenverarbeitung zu widerrufen - ohne dass dies
gleich die Beendigung des Nutzungsvertrags bedeutet.
Die Definition der„Einwilligung“muss eindeutig ausgebessert und besser formuliert werden.
Es könnte zum Beispiel die Bedingung hinzugefügt werden, dass Datenverarbeiter in der Lage
sein müssen, die eingeholte Einwilligung nachzuweisen.Eine Einwilligung darf nicht ausreichend sein, wenn die Nutzer aufgrund der beträchtlichen Marktmacht eines Datenverarbeiters keine Alternativen haben oder sich in einem Abhängigkeitsverhältnis befinden.Der Begriff„klares Ungleichgewicht“muss daher unbedingt geklärt werden. </p>

</li>
<li>
<h2>Recht auf Vergessenwerden (Löschung)</h2>
<h3>Um was geht es? (Artikel 17 des Kommissionsvorschlags)</h3>
<p>Dieses Recht ermöglicht es Personen, ihre Kundendaten und alle persönlichen Daten komplett 
löschen zu lassen – z.B. Konten in sozialen Netzwerken. Dieses Recht gibt es schon seit 1995 
und soll in der neuen Verordnung gestärkt werden. Die Kommission hat für diesen Artikel zwei 
Aspekte vorgeschlagen: 1. sollen Unternehmen oder Datenverarbeiter auf Anfrage alle Daten 
komplett löschen; 2. sollen sie zudem alle vertretbaren Schritte einleiten, auch technischer 
Art, um Dritte darüber zu informieren, dass eine Person von ihnen die Löschung aller Kopien 
oder Replikationen dieser Daten verlangt.</p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Das Recht auf Vergessenwerden und auf Löschung ist sehr wichtig, um Anbieter von OnlineDiensten zur Verantwortung ziehen zu können und Nutzern mehr Kontrolle über ihre Daten im 
Internet zu geben. Da Datenschutzbehörden nicht immer alle Unternehmen im Blick haben 
können, ist es wichtig, jedem von vorneherein starke Rechte zu geben.
Dieses Thema wurde bereits lang und breit in den Medien diskutiert. Grund für die Kritik ist 
meistens eine Fehlinterpretation des Artikels. Oft wird vergessen, dass es sich nicht um ein 
absolutes Recht handelt - die Verordnung sieht viele Ausnahmen (für journalistische, künstlerischen, literarische, historische, statistische, wissenschaftliche Zwecke usw.) vor, um gleichzeitig das Recht auf freie Meinungsäußerung zu sichern (siehe Art. 80 - 83). Diese Ausnahmen sollten jedoch auch für neue Medienbereiche gelten, um z.B. Blogger mitzuerfassen. Um alle Missverständnisse aus dem Weg zu räumen fordern wir, dass dieser Artikel in „Recht auf Löschung“ umbenannt 
wird. Gleichzeitig muss geklärt werden, dass Internetanbieter nicht den Zugang zu Daten sperren müssen, die von Dritten verarbeitet werden und über die sie 
daher keine Kontrolle haben - dies würde unweigerlich zu einer Einschränkung der Meinungsfreiheit führen.</p>
</li>
<li>
<h2>Recht auf Datenportabilität</h2>
<h3>Um was geht es? (Artikel 18 des Kommissionsvorschlags)</h3>
<p>Hiermit wird Nutzern das Recht gegeben, sich gegen einen „Lock-In-Effekt“ zu wehren. Dies 
bedeutet, dass sie leichter von einem Online-Anbieter, wie z.B. soziale Netzwerke, zum anderen wechseln können, ohne hierbei alle Daten zu verlieren. Wenn man einen Account bei einem 
Dienst anlegt und dort z.B. Freunde und Bekanntschaften sammelt oder Inhalte schafft, sollte 
man diese in andere Netzwerke mitnehmen können.</p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Manche Politiker und Lobbyisten möchten, dass dieses Recht komplett aus der Verordnung 
gestrichen wird. Das müssen wir verhindern!
Um diesen Artikel noch auszubessern, fordern wir, dass es immer möglich sein sollte, auch 
spezielle und unübliche Formate in ein gängiges Format zu exportieren. Außerdem sollte prä-
zisiert werden, dass zu „gängigen elektronischen Formaten“ auch interoperable und Open 
Source Formate gehören.</p>
</li>
<li>
<h2>Profiling</h2>
<h3>Um was geht es? (Artikel 20 des Kommissionsvorschlags)</h3>
<p>Profiling bedeutet, Informationen über Personen zu sammeln und zu analysieren, um Annahmen über sie und ihr zukünftiges Verhalten zu machen. 
Die mathematische Logik, die für diese Annahmen verwendet wird, ist als 
Profiling-Algorithmen bekannt. Algorithmen können so komplex sein, dass 
nicht einmal mehr die Organisationen, die sie nutzen, die Logik dahinter 
verstehen können.</p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Profiling stellt eine fundamentale Bedrohung der grundlegenden Prinzipien 
der Rechtsstaatlichkeit und der Beziehung zwischen Bürgern und Regierung oder zwischen Kunden und Unternehmen in einer demokratischen Gesellschaft dar. Wir 
wollen, dass Profiling für Ermittlungsbehörden verboten wird. Unternehmen dürfen Profiling 
nur durch eine vorausgegangene ausdrückliche Einwilligung durch die Betroffenen durchführen. Zudem sollte man jederzeit Profiling-Maßnahmen widersprechen können.</p>
</li>
<li>
<h2>Datenschutz by Design and by Default</h2>
<h3>Um was geht es? (Artikel 23 des Kommissionsvorschlags)</h3>
<p>Hierbei geht es um die Grundsätze des Datenschutzes durch Technik (data protection by 
design) und durch datenschutzfreundliche Voreinstellungen (data protection by default). 
Dies bedeutet, dass Systeme oder Dienstleistungen so konzipiert werden sollen, dass von vornherein so wenig personenbezogene Daten gesammelt und verwendet werden, wie möglich. 
In sozialen Netzwerke können datenschutzfreundliche Standard-Einstellungen leicht umgesetzt werden. Meldet man sich beispielsweise bei einem sozialen Netzwerk an, könnten die ursprünglichen Privatsphäre-Einstellungen vorsehen, dass Inhalte nur mit den eigenen „Freunden“ und nicht direkt mit dem Rest der Welt geteilt werden.</p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Es ist wichtig, dass Unternehmen in jeder Phase der Produktentwicklung datenschutzfreundliche Voreinstellungen berücksichtigen. Teilen bedeutet nicht direkt das Ende der Privatsphäre. 
Wir finden, dass mit effektiven, eingebauten Datenschutzmaßnahmen auch beides geht. Wichtig ist vor allem, das Nutzer die Kontrolle über ihre eigenen Daten haben - wie viel wir teilen 
wollen, sollte die Entscheidung der Nutzer sein und nicht die Entscheidung der Diensteanbieter.
Damit „Datenschutz durch Technik“ wirksam ist, muss er in allen Phasen des Lebenszyklus 
der Datenverarbeitungssysteme implementiert werden. Sowohl „Datenschutz durch Technik“ 
als auch „datenschutzfreundliche Voreinstellungen“ sollten jedoch in den Artikeln der Verordnung klarer definiert werden.</p>
</li>
<li>
<h2>Meldepflicht für Verstöße und Sanktionen</h2>
<h3>Um was geht es? (Artikel 31 und 32 des Kommissionsvorschlags)</h3>
<p>Ein gutes Gesetz braucht eine gute Durchsetzung, sonst bleibt es ein zahnloser Tiger. Daher 
hat die Kommission eine Benachrichtigungspflicht für Verstöße gegen Datenschutzvorschriften eingeführt. Sollten sich Unternehmen nicht an die Regelungen halten, drohen finanzielle 
Sanktionen. Für Verstöße gegen die neuen Datenschutzregeln kann es dann zu Geldbußen von 
bis zu 2% des globalen Jahreseinkommens kommen.</p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Recht muss auch durchgesetzt werden können. Sanktionen sind daher ein elementarer Bestandteil der Reglungen, sonst bleiben sie zahnlos. Vor einem Jahr enthielt der erste Entwurf 
der Kommission [4] noch viel schärfere Strafen bei Datenschutzvergehen. Dann hat die Kommission die Geldbußen nach einer heftigen Lobby-Kampagne auf max. 2% des Jahresumsatzes 
des Unternehmens gesenkt. Leider wurde dies im Bericht des EU-Parlaments nicht korrigiert.
Wir fordern daher, die Geldbußen wie im ersten Kommissionsentwurf wieder auf bis zu 5% des 
weltweiten Jahresumsatzes zu setzen. Zudem sollten Datenschutzbehörden öffentliche Listen 
mit allen Datenschutzverstößen führen.</p>
</li>
<li>
<h2>Übermittlung von Daten in Drittländer</h2>
<h3>Um was geht es? (Artikel 40 - 45 des Kommissionsvorschlags)</h3>
<p>Persönliche Daten werden zunehmend von der EU an Drittstaaten übermittelt, die dann im 
Namen der Verbrechensbekämpfung alles mögliche damit anfangen können. Dies führt oft 
dazu, dass europäisches Recht von anderen Staaten ausgehöhlt wird. Gesetze wie der Patriot 
Act und der FISA Amendments Act erlauben es Polizei und Geheimdiensten in den USA, ungefragt auf persönliche Daten europäischer BürgerInnen zuzugreifen, die von Anbietern wie 
Google oder Facebook gespeichert werden. </p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>In bisherigen internationalen Verträgen konnte die EU leider keine adäquaten Datenschutzstandards durchsetzten, vor allem das Safe Harbor-Abkommen ist gescheitert. Zurzeit haben 
europäische Bürger keine große Rechtssicherheit, wenn Angebote von Google, Amazon oder 
Facebook genutzt werden. Mit der Verordnung aber könnten wir endlich unser Recht auf Datenschutz und auf Kontrolle der eigenen Daten durchsetzen.
In Zukunft soll der europäischer Datenschutz gelten, sobald Daten von EU-Bürgern verarbeitet 
werden. Wir wollen, dass in der EU generierte Daten und Daten europäischer Bürger unter EURecht fallen. Für einen effektiven Schutz gegen Gesetze wie den Patriot Act fordern wir, dass 
Artikel 42 des geleakten Kommissionsentwurfs [5] wieder eingeführt wird: In der EU tätige 
Unternehmen dürfen keine Daten an Drittstaaten übermitteln, wenn dies von einer Justiz- oder 
Verwaltungsbehörde des Drittstaats gefordert wird - es sei denn, dies wird ausdrücklich durch 
ein internationales Abkommen, bilaterale Rechtshilfeverträge oder eine Datenschutzbehörde 
gestattet.</p>
</li>
<li>
<h2>Delegierte Rechtsakte</h2>
<h3>Um was geht es? (Artikel 86 des Kommissionsvorschlags)</h3>
<p>Durch die delegierten Rechtsakte gibt sich die EU-Kommission ganz schön viel Macht. Sie hat 
sich bezüglich einer Vielzahl von Bestimmungen die Kompetenz übertragen - ohne, dass eine 
Diskussion mit dem EU-Parlament oder dem Rat stattfinden muss. Die Kommission möchte 
dadurch schnell und flexibel technische Regelungen bestimmen können, ohne ein langwieriges Gesetzgebungsverfahren für eine Überarbeitung in den Gang zu setzen.  </p>
<h3>Warum ist dieser Punkt wichtig und was fordern wir?</h3>
<p>Der Umfang der delegierten Rechtsakte wurde bereits von vielen Seiten stark kritisiert. Auch 
wir finden, dass die Zahl der delegierten Rechtsakte stark eingeschränkt werden sollte. 
Nur eine demokratisch legitimierte Institution sollte darüber entscheiden können, wie unser 
Grundrecht auf Datenschutz und Privatsphäre konkret ausgearbeitet wird.</p>
</li>
</ol>

<p class="copyright">
Dieser Text steht unter der Creative Commons Namensnennung-Weitergabe unter gleichen Bedingungen 3.0 
Deutschland (CC BY-SA 3.0) - Lizenz: <a href="https://creativecommons.org/licenses/by-sa/3.0/de">https://creativecommons.org/licenses/by-sa/3.0/de</a> und basiert auf einer <a href="https://digitalegesellschaft.de/2013/02/eu-parlament-vor-ausverkauf-unserer-daten/">Broschüre der Digitalen Gesellschaft e.V. aus Deutschland</a>. 
</p>

					<a class="dosth" href="/unterstuetzen">&raquo; Deine Stimme für einen starken Datenschutz</a>
				</div>
			</div>
</div>
{% endblock %}