{% extends "layout.html" %}
{% block body %}

<div id="unterstuetzen">
			<div class="wrp">
				<div class="average">

<h1 class="pagetitle">Presse</h1>				

<p class="teaser"></p>
<h2>Materialien</h2>
					<a class="dosth" href="static/presse.zip">&raquo; Pressefotos &amp; Logos herunterladen (0.6MB, zip)</a>
<br><br>
					Kontaktdaten für Presseanfragen finden Sie unter <a href="/kontakt">Kontakt</a>.

<h2>Presseaussendungen</h2>

<div id="declaration">
<h3>PRESSEMITTEILUNG: Wir wollen Datenschutz!</h3>

<p>[Wien, 19.02.2013] Die Initiative für Netzfreiheit (IfNf) und der Verein für Internet-Benutzer Österreichs (VIBE!AT) starten unter https://wirwollendatenschutz.at/ eine Kampagne für ein starkes europäisches Datenschutzrecht!</p>

<p>Von Daten in sozialen Netzwerken und Gesundheitsdaten bis hin zu Vorratsdaten ist Datenschutz eines der wichtigsten Themen im digitalen Jahrhundert. Die europäische Datenschutzreform muss deshalb ein starkes europaweites Fundament für den Umgang mit personenbezogenen Daten, Datensicherheit, Datensparsamkeit und Konsumentenschutz schaffen, die Interessen der EU-BürgerInnen verteidigen und darf sich nicht dem Druck der US-Großkonzerne beugen.</p>

<p>Darum stellen die Initiative für Netzfreiheit und der Verein für Internet-Benutzer Österreichs unter wirwollendatenschutz.at[0] eine neue, österreichweite Kampagne für einen wirkungsvollen europäischen Datenschutz vor. "Wir rufen zur Teilnahme an dieser Kampagne auf, sich aktiv gegen die Unterdrückung unserer digitalen Rechte auszusprechen, der Zivilgesellschaft Gehör zu schaffen und dem Lobbying der Industrie Einhalt zu gebieten. Die Stimme der Zivilgesellschaft darf in Brüssel nicht länger ungehört bleiben.", so Josef Irnberger, Initiative für Netzfreiheit.</p>

<ü>"Dem Schutz persönlicher Daten und der Wahrung der Privatsphäre der Menschen in Europa muss von unseren gewählten Volksvertretern höchste Priorität eingeräumt werden und darf nicht durch den Industrielobbyismus verwässert oder zahnlos gemacht werden. Denn ein verantwortungsvoller Umgang mit personenbezogenen Daten ist auch die Grundlage für eine nachhaltige Entwicklung der Informationsgesellschaft als wesentlicher Wirtschaftsfaktor in Europa", sagt Andreas Krisch, Obmann von VIBE!AT.
Es geht in dieser Reform um die Wahrung des Grundrechts auf Datenschutz für die europäische Bevölkerung, die einfache Frage ob der Schutz unserer Intimsphäre im digitalen Raum mehr wert ist als die Geschäftsinteressen großer Konzerne. Ein zukunftsweisender Datenschutz ist heute notwendiger als jemals zuvor. Zahlreiche NGOs, darunter auch die IfNf und VIBE!AT, fordern deshalb in der "Brussels Privacy Declaration"[1] ihre Abgeordneten auf, die Rechte der KonsumentInnen, BenutzerInnen und BürgerInnen zu wahren und sich für einen starken und durchsetzungsfähigen Datenschutz einzusetzen. Ein wirkungsvoller Datenschutz ist wesentliche Grundvoraussetzung für Vertrauen der KonsumentInnen online.</p>

<p>Am Mittwoch, dem 20. Februar wird der Ausschuss für Industrie, Forschung und Energie (ITRE) mit der Datenschutzreform eine Stellungnahme abstimmen. "Eine Verwässerung der Datenschutzreform auf bloßes Drängen von US-Lobbyisten und gegen die Interessen der EU-Bevölkerung wäre wie schon bei ACTA (Anti-Counterfeiting Trade Agreement) nicht hinnehmbar", so Irnberger abschließend.</p>

<p>Rückfragehinweis<p>

<p>Andreas Krisch<br>
Verein für Internet-Benutzer Österreichs (VIBE!AT)<br>
Telefon: +43 1 480 50 25 - 11<br>
E-Mail: info@vibe.at</p>

<p>Josef Irnberger<br>
Initiative für Netzfreiheit<br>
Telefon: +43 (0) 699/10478831<br>
E-Mail: josef.irnberger@netzfreiheit.org
</p>

___________________<br>
Quellenangaben:<br>
[0] http://wirwollendatenschutz.at/<br>
[1] https://wirwollendatenschutz.at/unterstuetzen<br>
Initiative für Netzfreiheit – https://www.netzfreiheit.org<br>
Verein Internetzbenutzer Österreichs - https://www.vibe.at/<br>
<br>
___________________<br>
Der Verein Initiative für Netzfreiheit setzt sich für die Förderung der Freiheiten des Menschen im Netz und die Wahrung der digitalen Bürgerrechte ein.<br>
Unser Anliegen ist es, Netzpolitik in den Fokus der Politik und der Allgemeinheit zu rücken und mittels Vorträgen und persönlicher Gespräche eine gemeinsame Wissensbasis zu schaffen.<br>
<br>
Der Verein für Internet-Benutzer Österreichs (VIBE!AT) hat es sich zur  Aufgabe gemacht zu einem mündigen, verantwortungsvollen und  selbstbestimmten Umgang mit dem Medium Internet zu ermuntern.  Gleichzeitig will er ein öffentliches Bewußtsein schaffen, das jegliche  Versuche diese Freiheiten übermäßig zu beschränken erkennt und  verurteilt. Ein aktives Vorgehen gegen derartige Versuche ist für  VIBE!AT daher selbstverständlich.
</div>

					
<h2>Pressespiegel</h2>

<ul>
	<li><a href="http://futurezone.at/netzpolitik/14171-kampagne-fuer-europaeischen-datenschutz-gestartet.php">Futurezone, 19.02.2013: Kampagne für europäischen Datenschutz gestartet</a></li>

	<li><a href="http://www.gulli.com/news/20853-datenschutz-kampagne-wirwollendatenschutzat-2013-02-19">Gulli.com, 19.02.2013: Datenschutz-Kampagne wirwollendatenschutz.at</a></li>
</ul>

				</div>
			</div>
</div>
{% endblock %}