{% extends "layout.html" %}
{% block body %}

<div id="unterstuetzen">
            <div class="wrp">
                <div class="average">

<h1> Unterstützen</h1>


<b><p>Warum es wichtig ist, dass Du dich aktiv beteiligst, erklärt am besten folgendes Video:</p></b>

<iframe width="853" height="480" src="http://www.youtube.com/embed/JkUZEn9oKZg" frameborder="0" allowfullscreen></iframe>


<p><b>Wie kannst du uns unterstützen?</b></p>
<p>Unterstütze uns in drei Schritten:</p>

<h2 class="todolist" id="contact">1.) Kontaktiere deine Abgeordneten</h2>

<h3>Ausschüsse | Zeitplan</h3>
<ul>
<li><del>20. Februar 2013: Abstimmung in ITRE</del> - <a href="http://www.edri.org/itre-eudatap" style="color:#aa0000">Ausschuss stimmt gegen Datenschutz!</a> Das war allerdings noch nicht die endgültige Abstimmung.</li>
<li><del>21. Februar 2013: Abstimmung in EMPL</del></li>
<li><del>18. - 19. März 2013: Abstimmung in JURI</del></li>
<li>29. und 30. Mai 2013: LIBE</li>
</ul> 
<h3>Nächster Ausschuss: LIBE</h3>   
<p class="teaser">29. und 30. Mai 2013 tagt der Ausschuss für Bürgerliche Freiheiten, Justiz und Inneres (LIBE). <br>Überzeuge deine Abgeordneten!</p>
<style type="text/css">
.mepcard {
    background: white;
    display:inline-block;
    float:left;
    box-shadow: rgba(0,0,0,0.5) 0 1px 5px;
    padding:16px;
    margin: 0 15px 15px 0;
    width:450px;
    min-height:170px
}

.mepcard .mepphoto {
    height:150px;
    float:left; 
    margin: 0 10px 0 0; 
    border: white 3px solid;
    box-shadow: #888 0  1px 3px;
}

.mepcard .name {
    font-weight:bold;
    font-size: 1.1em;
}

.mepcard .mepdata {
    list-style:none;
    margin: 0 0 0 136px;
    padding: 0 0 0 0;   
}

.mepcard .mepdata > li {
    margin:0;
}

.mepcard .web:before {
    content: "Web: ";
}

.mepcard .tel:before {
    content: "Tel: ";
}

.mepcard .fax:before {
    content: "Fax: ";
}

.mepcard .email:before {
    content: "E-Mail: ";
}

.mepcard .fb:before {
    content: "FB: ";
}

.mepcard .twitter:before {
    content: "Twitter: ";
}

.mepcard .web:before, 
.mepcard .twitter:before, 
.mepcard .tel:before, 
.mepcard .fax:before, 
.mepcard .email:before, 
.mepcard .fb:before, 
.mepcard .twitter:before {
    color: #888;
    min-width: 48px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

</style>
<br class="clr">

<a href="./positionen"><b>&raquo; Argumentationshilfen</b></a>

<h3>Österreichische MEPs im LIBE-Ausschuss:</h3>
    <ul style="margin:0; padding:0">
        <li class="mepcard">
            <img src="/static/images/meps/2307.jpg" class="mepphoto"> 
            <ul class="mepdata">
                <li class="name">Hubert PIRKER (EVP)</li>
                <li class="tel"><a href="tel:003222845898">+32 2 28 45898</a></li>
                <li class="fax">+32 2 28 49898</li>
                <li class="email"><a href="mailto:hubert.pirker@europarl.europa.eu">hubert.pirker@europarl.europa.eu</a></li>
                <li class="web"><a href="http://www.hubert-pirker.eu" target="_blank">www.hubert-pirker.eu</a></li>
                <li class="post">Rue Wiertz 60, ASP 8F 143, B-1047 Brüssel</li>
            </ul>
        </li>

        <li class="mepcard">
            <img src="/static/images/meps/111014.jpg" class="mepphoto"> 
            <ul class="mepdata">
                <li class="name">Josef WEIDENHOLZER (S&amp;D)</li>
                <li class="tel"><a href="tel:003222845473">+32 228 45473</a></li>
                <li class="fax">+32 2 28 49473</li>
                <li class="email"><a href="mailto:josef.weidenholzer@europarl.europa.eu">josef.weidenholzer@europarl.europa.eu</a></li>
                <li class="web"><a href="http://www.weidenholzer.eu" target="_blank">www.weidenholzer.eu</a></li>
                <li class="fb"><a href="http://www.facebook.com/mepjoe" target="_blank">www.facebook.com/mepjoe</a></li>
                <li class="twitter"><a href="https://twitter.com/Weidenholzer" target="_blank">@Weidenholzer</a></li>
                <li class="post">Rue Wiertz 60, ASP 15 G265, B-1047 Brüssel</li>
            </ul>
        </li>       

        <li class="mepcard">
            <img src="/static/images/meps/97017.jpg" class="mepphoto"> 
            <ul class="mepdata">
                <li class="name">Ulrike LUNACEK (Grüne/EFA)</li>
                <li class="tel"><a href="tel:003222847395">+32 22 84 73 95</a></li>
                <li class="fax">+32 22 84 93 95</li>
                <li class="email"><a href="mailto:ulrike.lunacek@gruene.at">ulrike.lunacek@gruene.at</a></li>
                <li class="web"><a href="http://www.ulrikelunacek.at" target="_blank">www.ulrikelunacek.at</a></li>
                <li class="post">Rue Wiertz 60, ASP 08G 169, B-1047 Brüssel</li>
            </ul>
        </li>   
        
    </ul>
    
<br class="clr">

<h3>MEPs aus Deutschland:</h3>

<style type="text/css">

table.meplist th {
    color: #eee;
    background-color: #222;
    padding: 0.2em; 
}

table.meplist tr:nth-child(even) {
    background: rgba(55,55,55,0.1);
}

table.meplist tr:nth-child(odd) {
    background: rgba(255,255,255,0.1);  
}
table.meplist td {
    padding: 0.2em; 
}

.mail-bt {
    padding: 0.4em 0.6em;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-shadow: rgba(0,0,0,0.5) 1px 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
    border-radius: 4px;
    white-space:nowrap;
    border: #ceff99 1px solid;  
    background: rgb(157,224,58); /* Old browsers */
    background: -webkit-linear-gradient(top,  rgba(157,224,58,1) 1%,rgba(43,201,32,1) 47%,rgba(15,155,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(157,224,58,1) 1%,rgba(43,201,32,1) 47%,rgba(15,155,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(157,224,58,1) 1%,rgba(43,201,32,1) 47%,rgba(15,155,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(157,224,58,1) 1%,rgba(43,201,32,1) 47%,rgba(15,155,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9de03a', endColorstr='#0f9b00',GradientType=0 ); /* IE6-9 */
}

</style>


    <table class="meplist">
        <tr>
            <th>Name</th>
            <th>Fraktion</th>
            <th>Telefon</th>
            <th>Telefon 2</th>
            <th>Fax</th>
            <th>E-Mail</th>
            <th>Web</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Post-Adresse</th>
        </tr>
        
        <tr>
            <td>Klaus-Heiner LEHNE</td>
            <td>EVP</td>
            <td>0032 2 28 45047</td>
            <td>0049 2 11 5866 778</td>
            <td>0049 2 11 5866 779</td>
            <td><a class="mail-bt" href="mailto:klaus-heiner.lehne@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.kh-lehne.de">kh-lehne.de</a></td>
            <td><a href="http://www.facebook.com/#!/pages/Klaus-Heiner-Lehne/132881100084461">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz </td>
        </tr>
        <tr>
            <td>Manfred WEBER</td>
            <td>EVP</td>
            <td>0032 2 284 5890</td>
            <td>0049 9444 8709752</td>
            <td>0049 9444 8709751</td>
            <td><a class="mail-bt" href="mailto:manfred.weber@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.weber-manfred.de">weber-manfred.de</a></td>
            <td><a href="https://www.facebook.com/pages/Manfred-Weber/456082177763485">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz, ASP 15E209</td>
        </tr>
        <tr>
            <td>Renate SOMMER</td>
            <td>EVP</td>
            <td>0032 2 284 7383</td>
            <td></td>
            <td>0032 2 284 9383</td>
            <td><a class="mail-bt" href="mailto:bruessel@renate-sommer.de">E-Mail schreiben!</a></td>
            <td><a href="http://www.europasommer.de">europasommer.de</a></td>
            <td><a href="https://www.facebook.com/DrRenateSommer">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz, ASP 10E152</td>
        </tr>
        <tr>
            <td>Monika HOHLMEIER</td>
            <td>EVP</td>
            <td>0032 2 28 45191</td>
            <td>0049 9571 7583828</td>
            <td>0032 2 28 49191</td>
            <td><a class="mail-bt" href="mailto:monika.hohlmeier@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.monika.hohlmeier.de">monika.hohlmeier.de</a></td>
            <td><a href="https://www.facebook.com/pages/Monika-Hohlmeier/139065632780165">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz, ASP 15E157</td>
        </tr>
        <tr>
            <td>Axel VOSS</td>
            <td>EVP</td>
            <td>0032 2 28 47302</td>
            <td>0049 228-96695200</td>
            <td>0032-2-28-49302</td>
            <td><a class="mail-bt" href="mailto:axel.voss@ep.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.axel-voss-europa.de">axel-voss-europa.de</a></td>
            <td><a href="http://www.facebook.com/AxelVossMdEP">Facebook</a></td>
            <td><a href="https://twitter.com/AxelVossMdEP">@AxelVossMdEP</a></td>
            <td>60, Rue Wiertz, ASP 15 E 146</td>
        </tr>
        <tr>
            <td>Birgit COLLIN-LANGEN</td>
            <td>EVP</td>
            <td>0032 228 45826 </td>
            <td></td>
            <td>0032 228 4 - 9826 </td>
            <td><a class="mail-bt" href="mailto:birgit.collin-langen@ep.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.collin-langen.eu">collin-langen.eu</a></td>
            <td><a href="http://www.facebook.com/BirgitCollinLangen">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz, ASP 15E253</td>
        </tr>
        <tr>
            <td>Cornelia ERNST</td>
            <td>GUE/NGL</td>
            <td>00322 28 45660</td>
            <td></td>
            <td>0032  228 496 60</td>
            <td><a class="mail-bt" href="mailto:cornelia.ernst@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.cornelia-ernst.de">cornelia-ernst.de</a></td>
            <td></td>
            <td><a href="https://twitter.com/ErnstCornelia">@ErnstCornelia</a></td>
            <td>60, Rue Wiertz, ASP 6F154</td>
        </tr>
        <tr>
            <td>Franziska KELLER</td>
            <td>Gr&uuml;ne/EFA</td>
            <td>0032 2 28 45379</td>
            <td>0049 30 2277 4089</td>
            <td>0032 2 28 49379</td>
            <td><a class="mail-bt" href="mailto:franziska.keller@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.ska-keller.de">ska-keller.de</a></td>
            <td><a href="http://facebook.com/ska.keller">Facebook</a></td>
            <td><a href="https://twitter.com/SkaKeller">@SkaKeller</a></td>
            <td>60, Rue Wiertz, ASP 08H242</td>
        </tr>
        <tr>
            <td>Wolfgang KREISSL-D&Ouml;RFLER</td>
            <td>S&amp;D</td>
            <td>00322 28 45110</td>
            <td>00322 28 47110 </td>
            <td></td>
            <td><a class="mail-bt" href="mailto:wolfgang.kreissl-doerfler@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.kreissl-doerfler.de">kreissl-doerfler.de</a></td>
            <td><a href="https://www.facebook.com/wolfgang.kreissldorfler">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz, ASP 12G352</td>
        </tr>
        <tr>
            <td>Alexander ALVARO</td>
            <td>ALDE</td>
            <td>0032 2 28 45328</td>
            <td></td>
            <td>0032 2 28 49328</td>
            <td><a class="mail-bt" href="mailto:alexander.alvaro@europarl.europa.eu">E-Mail schreiben!</a></td>
            <td><a href="http://www.alexander-alvaro.de">alexander-alvaro.de</a></td>
            <td><a href="https://www.facebook.com/AlexanderAlvaroEU">Facebook</a></td>
            <td><a href="https://twitter.com/AlexAlvaro">@AlexAlvaro</a></td>
            <td>60, Rue Wiertz, ASP 10G102</td>
        </tr>
        <tr>
            <td>Evelyne GEBHARDT</td>
            <td>S&amp;D</td>
            <td>0032 2 284-5466</td>
            <td></td>
            <td>0032 2 284-9466</td>
            <td><a class="mail-bt" href="mailto:evelyne.gebhardt@europarl.europa.eu">E-Mail schreiben!</a></td> 
            <td><a href="http://www.evelyne-gebhardt.eu">evelyne-gebhardt.eu</a></td>
            <td><a href="https://www.facebook.com/pages/Evelyne-Gebhardt/138017919561314">Facebook</a></td>
            <td></td>
            <td>60, Rue Wiertz</td>
        </tr>
</table> 

<h3>Kontaktdetails aller LIBE-Mitglieder ...</h3>
<ul>
<li><a href="http://eudatap.info/" target="_blank"><b> auf EUdataP.info</b></a></li>
<li><a href="https://memopol.lqdn.fr/search/?q=committees%3ALIBE%20is_active%3A1" target="_blank"><b> auf Memopol</b></a></li>
<li><a href="http://www.europarl.europa.eu/committees/de/libe/members.html#menuzone" target="_blank"><b> auf der Webseite des Europäischen Parlaments</b></a></li>
</ul>

<h2 class="todolist">2.) Unterzeichne die Brüsseler Datenschutz-Erklärung</h2>

<section id="declaration">
<span style="float:right;">Jänner 2013</span>
<h3>Die Brüsseler Datenschutz-Erklärung</h3>
 
<p>Datenschutz ist ein Grundrecht, doch es wird oft ignoriert.</p> 
<p>Wir sind empört.</p>
 
Wir sind empört, weil 
<ul>
    <li>wir, die europäischen Bürger, nun in hunderten Datenbanken gespeichert werden, meist ohne unser Wissen oder unsere Einwilligung.</li>
    <li>mehr als 1200 Firmen sich auf den Handel mit unseren privaten Daten spezialisiert haben, meist ohne unser Wissen oder unsere Einwilligung.</li>
    <li>jedes Mal, wenn wir heute im Web surfen, mehr als 50 Unternehmen jeden Klick beobachten, meist ohne unser Wissen oder unsere Einwilligung.</li>
    <li>wir permanent von Algorithmen kategorisiert und beurteilt werden und dann unserem angenommenen unternehmerischen "Wert" entsprechend behandelt werden.</li>
</ul>
 
<p>Wir rufen die Mitglieder des Europäischen Parlaments und alle Regierungen der Mitgliedstaaten dazu auf, die Datenschutzrechte zu verbessern und durchzusetzen.</p>
 
<p>Wir erwarten von der neuen Europäischen Datenschutzverordnung, dass sie folgende Bedingungen erfüllt:</p>

<ul> 
    <li>Ausdrückliche, starke und informierte Einwilligung für die Verarbeitung unserer persönlichen Daten.</li>
    <li>Das Ende der Verknüpfung eines Dienstangebotes mit der Einwilligung in die Nutzung unserer Daten (Schluss mit 'Friss oder Stirb!').</li>
    <li>Datenverarbeitung und Datenweitergabe müssen transparent gemacht werden.</li>
    <li>Echte Datenportabilität, damit Wettbewerb gefördert und Lock-In-Effekte verringert werden.</li>
    <li>Einen starken Schutz gegen geheimes Profiling von Bürgern, on- wie offline.</li>
    <li>Jeder europäische Bürger hat das Recht auf wirksame Kontrolle über seine oder ihre persönlichen Daten (Datensouveränität).</li>
    <li>Wirksame Schadenersatzmechanismen und Strafen für Firmen und öffentliche Stellen, die das Gesetz nicht respektieren.</li>
    <li>Den Schutz aller persönlicher Information, inklusive von Kennnummern von Hard- und Software.</li>
</ul>
<p>Europas Zukunft braucht Datenschutz, und wir brauchen Sie um dieses Grundrecht jetzt zu verteidigen.</p>


<section id="declarationform">

<h3>Brüsseler Datenschutz-Erklärung jetzt unterzeichnen:</h3>

<form method="post" action="unterstuetzerinnen">
    <ul class="declarationform">
    
        <li class="formgroup">
            <label for="text_id">Vorname</label>
            <input type="text" class="text" name="firstname" value="{% if formdata %}{{ formdata.firstname }}{% endif %}" />
            {% if formerror and not formdata.firstname %} <small>bitte ausfüllen</small> {% endif %}
        </li>

        <li class="formgroup">
            <label for="text_id">Nachname</label>
            <input type="text" class="text" name="lastname" value="{% if formdata %}{{ formdata.lastname }}{% endif %}" />
            {% if formerror and not formdata.lastname %} <small>bitte ausfüllen</small> {% endif %}
        </li>

        <li class="formgroup">
            <label for="text_id">Stadt</label>
            <input type="text" class="text" name="town" value="{% if formdata %}{{ formdata.town }}{% endif %}" />
            {% if formerror and not formdata.town %} <small>bitte ausfüllen</small> {% endif %}
        </li>

        <li class="formgroup" style="display:none">
            <label for="text_id">Country</label>
            <input type="text" class="text" name="country" value="" />
            
        </li>

        <li class="formgroup">
            <label>E-Mail Adresse</label>
            <input type="text" class="text" name="emailaddress" value="{% if formdata %}{{ formdata.emailaddress }}{% endif %}" /> (nicht öffentlich)
            {% if formerror and not formdata.emailaddress %} <small>bitte ausfüllen</small> {% endif %}
        </li>

        <li class="formgroup">
            <table class="answers">
                <tr class="a">
                    <td class="a_td"><input type="checkbox" class="checkbox" name="publicvisible" id="cb_public" value="1" /></td>
                    <td><label class="label_a" for="cb_public">Ich möchte <b>öffentlich gelistet</b> werden</label></td>
                </tr>
            </table>
        </li>
        
        <li class="formgroup">
            <table id="stayinformed">
                <tr class="a">
                    <td class="a_td"><input type="checkbox" class="checkbox" name="campaign_info" id="cb_info" value="1" /></td>
                    <td><label class="label_a" for="cb_info"><b>Informiere mich weiter über die Kampagne "Wir wollen Datenschutz"</b></label></td>
                </tr>
                <tr class="a">
                    <td class="a_td"><input type="checkbox" class="checkbox" name="ifnf_info" id="cb_ifnf" value="1" /></td>
                    <td><label class="label_a" for="cb_ifnf">Ich möchte den <b>Newsletter des Vereins Initiative für Netzfreiheit abonnieren</b>.</label></td>
                </tr>
                <tr class="a">
                    <td class="a_td"><input type="checkbox" class="checkbox" name="vibe_info" id="cb_vibe" value="1" /></td>
                    <td><label class="label_a" for="cb_vibe">Ich möchte den <b>Newsletter des Vereins für Internetbenutzer Österreichs abonnieren</b>.</label></td>
                </tr>
            </table>
        </li>

        <li class="formgroup">
            <input type="submit" class="btn" name="submit_name" id="submit_id" value="Absenden" />
        </li>
    </ul>
</form>
    
</section>

</section>
<p style="text-align:right; margin:0;"> Dies ist eine Übersetzung der <a href="http://brusselsdeclaration.net">Brussels Privacy Declaration</a></p>
<a href="./unterstuetzerinnen">&raquo; Liste der öffentlichen UnterstützerInnen</a>


<h2 class="todolist" id="spread">3.) Spread the word!</h2>

<a onclick="window.open('http://twitter.com/home?status=Für einen starken Datenschutz in Europa - https://wirwollendatenschutz.at','auf Twitter teilen','width=600,height=300,left=100,top=100,screenX=0,screenY=100')" href="#" target="_blank" class="spread_bt"><p class="spread_text">Tweeten!</p></a>

<a href="#" onclick="window.open('https://www.facebook.com/share.php?u=https://wirwollendatenschutz.at','auf Facebook teilen','width=600,height=500,left=100,top=100,screenX=0,screenY=100')" target="_blank" class="spread_bt">  
                    <p class="spread_text">Facebook</p></a>

<a href="#" onclick="window.open('https://plus.google.com/share?url=http://wirwollendatenschutz.at','auf Google+ teilen','width=600,height=550,left=100,top=100,screenX=0,screenY=50')" target="_blank" class="spread_bt">  <p class="spread_text">Google+</p></a>                  
                    
                </div>
            </div>
</div>
{% endblock %}

